body{
  background-color:rgb(205，205,100);
}
p{
  color:white;
}
h1{
  color:white;
  font-size:30px
}
h2{
  color:white;
  font-size:25px;
}
#para1{
  color:gold;
}
.otherp{
     color:yellow
}
table{
  color:yellow;
}
*{
 font-family:"Times New Roman", Times, serif;
}
ol{
  color:rgb(255,0,255);
}
body{
width:750px;
margin-left:auto;
margin-right:auto;
border-width:5px;
border-style:solid;
border-color:gray;
border-radius:5px;
padding-left:20px;
padding-right:20px;
}
table{
width:500px;
margin-left:auto;
margin-right:auto;
border-width:3px;
border-style:solid;
border-color:gray;
