body{
  background-color:blue;
}
p{
  color:white;
}
h1{
  color:white;
  font-size:30px
}
h2{
  color:white;
  font-size:25px;
}
#para1{
  color:red
}
.otherp{
     color:yellow
}
table{
  color:yellow;
}
*{
 font-family:"Times New Roman", Times, serif;
}
